.content-body-wrapper {
width: 100%;
padding: 0 0px;
}


.h1text1 {
  background: black;
    color: teal;
    padding-left: 20px;
    border-radius: 25px;
    width: 206px;
    font-family: emoji;
}

.text1 {
  color: teal;
  display: flex;
  justify-content: center;
  text-align: justify;
}


.about_us {
  display: flex;
  justify-content: center;
}

.textimagewrapper {
    display: flex;
}

.textimage{
  border-radius: 5%;
  height: 400px;
  display: flex;
  justify-content: flex-end;
}

.nithush {
  margin: 0px 10px 0px 20px;;
  color: teal;
  display: grid;
  justify-content: center;
}

.merijn {
  margin: 0px 20px 0px 10px;
  color: teal;
  display: grid;
  justify-content: center;
}