html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", "Open Sans";
  -webkit-box-sizing: border-box;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: url("data/background.jpg");
  background-repeat: repeat;
}

.body-wrapper {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  backdrop-filter: blur(2px);
  height: 100%;
}

.inside-body-wrapper{
  margin: 0 auto;
  display: flex;
  width: 992px;
}

@media (min-width:992px){
  .content-body-wrapper{
    margin: 0 auto;
    display: flex;
    width: 972px;
    padding: 0 10px;
  }
  
}

@media (max-width:992px){
  .content-body-wrapper{
    width: 100%;
    display: flex;
    padding: 0 10px;
  }

}

.nav-bar {
  width: 100%;
  height: 75px;
  background-color: transparent;
  overflow: auto;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.2);
}

.nav-bar a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  color: black;
  text-decoration: none;
  height: 100%;
  width: 100%;
  font-size: 200%;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.top-nav-bar {
  height: 65px;
  background-color: transparent;
  border-bottom: solid 1px black;
  align-items: center;
  position: relative;
}


.search-container{
  height: 100%;
  width: 10%;
}

form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa-search{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover,
form:valid{
    width: 200px;
    cursor: pointer;
}

form:hover input,
form:valid input{
    display: block;
}

form:hover .fa,
form:valid .fa{
    background: #07051a;
    color: white;
}

form:valid a {
  display: block;
}
